<section class="container">
  <div class="col-md-12 padding imgbanner">
    <div class="col-md-3 backgroundbanner">
         <div class="marginbanner">Acerca de Nosotros</div>
    </div>
  </div>
</section>
<section>
<div class="container">
  <div class="col-md-12 text-center marflecha">
    <img class="tamlognos" src="fileimages/nosotros/Icono_bullet.svg">
    <h2 class="titnos">¡La primera empresa especializada manufactura esbelta en México!</h2>
  </div>
  <div class="col-md-12 margintit">
    <h2 class="titqui">¿Quiénes somos?</h2>
  </div>
  <div class="col-md-12 txtqui padding">
    <p>Lean Outlet™ provee soluciones especializadas en eficiencia, productividad y calidad, principalmente para las empresas del sector industrial que operan, o que desean hacerlo, bajo una cultura de manufactura esbelta o lean manufacturing.</p>
    <p>Nuestro empresa está integradapor especialistas en lean, con experiencia en algunas de las principales compañías manufactureras a nivel global, permitiéndones asesorar y acompañar a nuestros clientes en sus proyectos de productividad y eficiencia. Como resultado, las compañías eliminan desperdicios en sus procesos, además de lograr grandes ahorros de espacio mediante los sistemas estratégicos de Lean Outlean™.</p>
  </div>
  <div class="col-md-12 text-center margvidnos">
    <iframe class="anchnosvid" src="https://www.youtube.com/embed/NxM10FBY__s" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-12 txtadi padding">
    <p>Adicionalmente, ofrecemos materiales para el entrenamiento de personal en herramientas de manufactura esbelta, poniendo a su disposición programas prácticos y dinámicos que facilitan el aprendizaje y la implementación de la filosofía lean en todos los niveles de su organización.</p>
  </div>
  <div class="col-md-12 margincua padding">
    <div class="col-md-4 padding">
      <img class="margmuu" src="fileimages/nosotros/mu1.png">
    </div>
    <div class="col-md-4">
      <img class="margmud" src="fileimages/nosotros/mu2.png">
    </div>
    <div class="col-md-4">
      <img class="margmut" src="fileimages/nosotros/mu3.png">
    </div>
  </div>
  <div class="col-md-12 padding edificiosfondo">
    <div class="col-md-12 padding capaedificios">
      <div class="col-md-4 col-md-offset-1 imgmuc">
        <img src="fileimages/nosotros/mu4.png">
      </div>
      <div class="col-md-6 margnuobjS">
        <p>
          <h2 class="text-center titobj">Nuestro Objetivo</h2>
        </p>
        <p class="txtobj">
          Nuestro objetivo fundamental consiste en asegurar que nuestros clientes logren una transformación lean exitosa a través del soporte que nuestros productos y servicios especializados le brindan.
        </p>
        <p class="txtobj2">
          Como compañía, estamos plenamente comprometidos con la calidad de nuestros productos y así como la excelencia de nuestros servicios mediante los sistemas estratégicos de Lean Outlet™.
        </p>
        <p class="txtobj3">
          Adicionalmente, ofrecemos materiales para el entrenamiento de personal en herramientas de manufactura esbelta, poniendo a su disposición programas prácticos y dinámicos que facilitan el aprendizaje y la 
          implementación de la filosofía lean en todos los niveles de su organización.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <h2 class="text-center titcomp">El compromiso de Lean Outlet™</h2>
  </div>
  <div class="col-md-12 padding margcompro">
    <div class="col-md-6 padding txtcomp">
    <p class="margcomp1">
    Lean Outlet™ provee soluciones especializadas en eficiencia, productividad y calidad, principalmente para las empresas del sector industrial que operan, o que desean hacerlo, bajo una cultura de manufactura esbelta o lean manufacturing
    </p>
    <p class="margcomp2">Nuestra empresa está integrada por especialistas en lean, con experiencia en algunas de las principales compañías manufactureras a nivel global, permitiéndonos asesorar y acompañar a nuestros clientes en sus proyectos de productividad y eficiencia. Como resultado, las compañías eliminan desperdicios en sus proces, además de lograr grandes ahorros de especio mediante los sistemas estratégicos de Lean Outlet™.</p>
    <p class="margcomp3">
      Adicionalmente, ofrecemos materiales para el entrenamiento de personal en herramientas de manufactura esberlta, poniendo a su disposición programas prácticos y dinámicos que facilitan el aprendizaje y la implementación de la filosofía lean en todos los niveles de su organización.
    </p>
    </div>
    <div class="col-md-6"><img class="paddmuc" src="fileimages/nosotros/mu5.png"></div>
  </div>
  <div class="col-md-12">
    <h2 class="text-center titopc">¿Por qué somos su mejor opción?</h2>
  </div>
  <div class="col-md-12 padding imgning">
    <div class="col-md-12 padding caping">
      <p class="txtopcing text-center">Ninguna otra compañía posee la experiencia que nuestros líderes han acumulado por años.</p>
    </div>
  </div>
  <div class="col-md-12 padding txtopcingd">
    <p>Los profesionales que integran nuestro equipo de trabajo tienen una amplia experiencia colaborando con grandes e importantes empresas como responsables del área de Mejora Continua y más recientemente como Consultores para cientos de compañías, permitiéndonos conocer todo tipo de procesos, problemáticas y tecnologías.</p>
    <p>Comprendemos perfectamente sus necesidades, lo que nos permite facilitar el proceso de diseño, selección e integración de nuestras soluciones, evitando demoras, errores y costos adicionales.</p>
    <p>Olvídese de tratar con proveedores que no hablan su mismo idioma. Nosotros contamos con la experiencia necesaria para atenderle de manera oportuna, eficiente y práctica. </p>
    <p>Póngase en contacto con nosotros y uno de nuestros asesores le atenderá a la brevedad posible.</p>
  </div>
  <div class="col-md-12 padding marginrednos">
    <div class="col-md-6"></div>
    <div class="col-md-6 ">
      <div class="col-md-2 col-md-offset-5">
        <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="box_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
      </div>
      <div class="col-md-2 margredt">
        <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a>
      </div>
      <div class="col-md-2 padding">
        <div class='g-plusone' data-size='tall' expr:data-href="data:post.url"></div>
      </div>
    </div>
  </div>
</div>
</section>