<section class="container slidegrand">
  <div class="col-md-12 padding imgbannercont margnvisual" title="Controles Visuales">
    <div class="col-md-3 backgroundbannerd backgroundbannerdvisual">
         <div class="marginbannerseis">Controles Visuales</div>
    </div>
  </div>
</section>
<section class="container">
	<div class="col-md-12 col-xs-12 padding">
		<div class="col-md-12 col-xs-12 text-center"><h2 class="titest">Controles Visuales</h2></div>
	    <br>
	    <div class="col-md-12 col-xs-12 txtest">Diseñamos tableros y pizarrones personalizados para medir y mejorar los procesos de su empresa con base en sus necesidades específicas. Estos materiales facilitarán a su equipo la comprensión y lectura de los métricos de la empresa, optimizando significativamente su trabajo.</div>
	</div>
</section>
<section>
	<div class="container">
	  	<div class="col-md-12 col-xs-12 marflecha padding">
	    	<!--<div class="col-md-3 col-xs-12 backgroundestbox margboxgray">
	    		<div class="txtboxpadu"><a href="" class="txtboxestu">Estaciones de Trabajo</a></div>
	    		<hr class="hru">
	    		<div class=""><a href="" class="txtboxestd">Moving carts</a></div>
	    		<hr class="hru">
	    		<div class="txtboxpadd"><a href="" class="txtboxestt">Racks de materiales</a></div>
	    		<div class="text-center txtboxestcu">¿Requiere equipo diseñado a la medida (custom)?</div>
	    		<div class="text-center margcont"><a class="" href="contacto"><button type="" class="btncontd">Contáctenos</button></a></div>
	    	</div>-->
	    	<div id="pizztab" class="col-md-9 col-xs-12">
		    	<div class="margtopest col-xs-12 col-md-12  margbotmob">
		    			<div class="col-md-1 col-xs-2 padding fletitu">></div><div id="tit1" class="col-md-11 col-xs-10 padding margest">Pizarrones</div>
		    			<div class="txtestdos col-md-12 col-xs-12 padding">
		    				Ofrezca a su equipo de trabajo información clara y objetiva mediante pizarrones personalizados.<br>
		    				<div class="col-md-12 col-xs-12 padding">
		    				<ul>
							 <li> Pizarrón de melanina blanco para plumín, de medida estándar o especial.</li>
							 <li> Pizarrón blanco rotulado estándar o especial.</li>
							 <li> Pizarrón blanco rotulado con porta hojas de acrílico y estructura metálica de medida estándar o especial.</li>
							</ul>
							</div>
		    			</div> 
		    			<img alt="Pizarrones" class="hidden-md hidden-lg" src="fileimages/visuales/ejemplo1.jpg">
		    	</div>
		    	<div class="margtopest col-xs-12 col-md-12  margbotmob">
		    			<div class="col-md-1 col-xs-2 padding fletitu">></div><div id="tit1" class="col-md-11 col-xs-10 padding margest">Tableros de Métricos</div>
		    			<div class="txtestdos col-md-12 col-xs-12 padding">
		    				Toda empresa debe medir sus procesos, controlar sus resultados y tomar sus decisiones, y esto se puede lograr de manera óptima mediante tableros de métricos de control.<br>
		    				<div class="col-md-12 col-xs-12 padding">
		    				<ul>
							<li> Tablero tubular con pizarra horizontal sencillo.</li>
							<li> Tablero doble horizontal.</li>
							<li> Tablero sencillo vertical.</li>
							<li> Tablero doble cara con porta hojas.</li>
							<li> Estructura de 4 lados con porta hojas y llantas.</li>
							</ul>
							</div>
							Todos nuestros tableros están disponibles en medidas estándar o personalizadas. Brindar a sus operarios herramientas para medir su desempeño estimulará su espíritu de competencia, mejorando su rendimiento y sus resultados.<br>
		    			</div> 
		    			<img alt="Tableros de métricos" class="hidden-md hidden-lg" src="fileimages/visuales/ejemplo2.jpg">
		    	</div>
		    	<div class="margtopest col-xs-12 col-md-12  margbotmob">
		    			<div class="col-md-1 col-xs-2 padding fletitu">></div><div id="tit1" class="col-md-11 col-xs-10 padding margest">Identificadores de área</div>
		    			<div class="txtestdos col-md-12 col-xs-12 padding">
		    				Aquí encontrará todo lo necesario para identificar las áreas críticas de su empresa y estaciones de trabajo.<br>
		    				<div class="col-md-12 col-xs-12 padding">
			    				 <ul>
								 <li> Identificación tipo banderín.</li>
								 <li> Identificación de PVC con leyendas de vinil y estructura metálica.</li>
								 <li> Identificación con leyendas en vinil para colocar en pared con soportes metálicos, en material de PVC, coroplast, acrílico etc.</li>
								 </ul>
							 </div>
							Contamos con expertos en Mejora Continua que entenderán sus necesidades, diseñando identificadores óptimos para su organización.<br>
		    			</div> 
		    			<img alt="Identificadores de área" class="hidden-md hidden-lg" src="fileimages/visuales/ejemplo1.jpg">
		    	</div>
		    	</div>
		    	<div class="col-md-3 hidden-xs margtopimgest">
		    		<img alt="Pizarrones" class="hidden-xs" src="fileimages/visuales/ejemplo1.jpg">
		    		<img alt="Tableros de Métricos" class="imgmuesiete hidden-xs" src="fileimages/visuales/ejemplo2.jpg">
		    		<img alt="Identificadores de área" class="hidden-xs" src="fileimages/visuales/ejemplo1.jpg">
		    	</div>
		</div>
		<div class="col-md-12 col-xs-12 padding">
			<div class="col-md-6 hidden-xs"></div>
			<div class="col-md-6 col-xs-12">
			     <div class="col-md-2 col-md-offset-5 col-xs-4 col-xs-offset-0 margfcblikeest">
			        <div class="fb-like" data-href="https://www.facebook.com/leanoutlet/" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
			      </div>
			      <div class="col-md-2 col-xs-4 margredtmob">
			        <a class="twitter-follow-button" href="https://www.twitter.com/Lean_Outlet" data-show-count="false" data-show-screen-name="false" data-size="default">Follow</a>
			      </div>
			      <!--<div class="col-md-2 col-xs-4 padding">
			        <div class='g-plusone' data-size='tall' expr:data-href="data:post.url"></div>
			      </div>-->
			</div>
		</div>
		
	</div>
</section>
<div class="container containerpro containerpro1">
	<div class="col-md-12 col-xs-12 padding">
		<div class="col-md-12 col-xs-12 padding txttitesta">
				Controles Visuales disponibles
		</div>
		<div class="col-md-12 col-xs-12 padding txtproduc">
				6 productos
		</div>
		<div class="col-md-12 col-xs-12 padding ">
				<hr class="hrd">
		</div>
	</div>
	<div id="contproductosv" class="col-md-12 col-xs-12 padding espaentreproducts">
			<!--<div class="col-md-4 col-xs-12 margproducto">
				<div class="col-md-6 col-xs-12 paddingres">
					<a href="producto"><img alt="Producto de Controles Visuales" class="muochod" src="fileimages/mobiliaria/ejemplotienda2.png"></a>
				</div>
				<div class="col-md-5 col-xs-12 padding mgrtxtproduc">
					<p ><a href="producto" class="titprod">Estructura tubular</a></p>
					<p class="modelprod">PGLP-6</p>
					<p class="margtxtdesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
				</div>
				<div class="col-md-12 col-xs-12 paddtagsha">
					<div class="col-md-10 col-xs-10 padding tagprodu">
						<i class="fa fa-tag" aria-hidden="true"></i> Estructuras tubulares
					</div>
					<div class="col-md-2 col-xs-2 padding text-right">
						<a class="shareprod" href=""><i class="fa fa-share-alt" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="col-md-12 col-xs-12 padding text-center txtprecioest">
					$18 447.79
				</div>
				<div class="col-md-12 col-xs-12 padding margbtnadd">
					<a class="" href=""><button type="" class="btncontt"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Agregar a compras</button></a>
				</div>
			</div>
			<div class="col-md-4 col-xs-12 margproducto">
				<div class="col-md-6 col-xs-12  paddingres">
					<a href="producto"><img alt="Producto de Controles Visuales" class="muochod" src="fileimages/mobiliaria/ejemplotienda.png"></a>
				</div>
				<div class="col-md-5 col-xs-12 padding mgrtxtproduc">
					<p><a href="producto" class="titprod">Estructura tubular</a></p>
					<p class="modelprod">PGLP-6</p>
					<p class="margtxtdesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
				</div>
				<div class="col-md-12 col-xs-12 paddtagsha">
					<div class="col-md-10 col-xs-10 padding tagprodu">
						<i class="fa fa-tag" aria-hidden="true"></i> Estructuras tubulares
					</div>
					<div class="col-md-2 col-xs-2 padding text-right">
						<a class="shareprod" href=""><i class="fa fa-share-alt" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="col-md-12 col-xs-12 padding text-center txtprecioest">
					$18 447.79
				</div>
				<div class="col-md-12 col-xs-12 padding margbtnadd">
					<a class="" href=""><button type="" class="btncontt"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Agregar a compras</button></a>
				</div>
			</div>
			<div class="col-md-4 col-xs-12 margproducto">
				<div class="col-md-6 col-xs-12">
					<a href="producto"><img alt="Producto de Controles Visuales" class="muochod" src="fileimages/mobiliaria/ejemplotienda2.png"></a>
				</div>
				<div class="col-md-5 col-xs-12 padding mgrtxtproduc">
					<p><a href="producto" class="titprod">Estructura tubular</a></p>
					<p class="modelprod">PGLP-6</p>
					<p class="margtxtdesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
				</div>
				<div class="col-md-12 col-xs-12 paddtagsha">
					<div class="col-md-10 col-xs-10 padding tagprodu">
						<i class="fa fa-tag" aria-hidden="true"></i> Estructuras tubulares
					</div>
					<div class="col-md-2 col-xs-2 padding text-right">
						<a class="shareprod" href=""><i class="fa fa-share-alt" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="col-md-12 col-xs-12 padding text-center txtprecioest">
					$18 447.79
				</div>
				<div class="col-md-12 col-xs-12 padding margbtnadd">
					<a class="" href=""><button type="" class="btncontt"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Agregar a compras</button></a>
				</div>
			</div>-->
		</div>
		<!--<div class="col-md-12 col-xs-12 padding margfilaprod">
			<div class="col-md-4 col-xs-12 margproducto">
				<div class="col-md-6 col-xs-12">
					<a href="producto"><img alt="Producto de Controles Visuales" class="muochod" src="fileimages/mobiliaria/ejemplotienda.png"></a>
				</div>
				<div class="col-md-5 col-xs-12 padding mgrtxtproduc">
					<p><a href="producto" class="titprod">Estructura tubular</a></p>
					<p class="modelprod">PGLP-6</p>
					<p class="margtxtdesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
				</div>
				<div class="col-md-12 col-xs-12 paddtagsha">
					<div class="col-md-10 col-xs-10 padding tagprodu">
						<i class="fa fa-tag" aria-hidden="true"></i> Estructuras tubulares
					</div>
					<div class="col-md-2 col-xs-2 padding text-right">
						<a class="shareprod" href=""><i class="fa fa-share-alt" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="col-md-12 col-xs-12 padding text-center txtprecioest">
					$18 447.79
				</div>
				<div class="col-md-12 col-xs-12 padding margbtnadd">
					<a class="" href=""><button type="" class="btncontt"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Agregar a compras</button></a>
				</div>
			</div>
			<div class="col-md-4 col-xs-12 margproducto">
				<div class="col-md-6 col-xs-12">
					<a href="producto"><img alt="Producto de Controles Visuales" class="muochod" src="fileimages/mobiliaria/ejemplotienda2.png"></a>
				</div>
				<div class="col-md-5 col-xs-12 padding mgrtxtproduc">
					<p><a href="producto" class="titprod">Estructura tubular</a></p>
					<p class="modelprod">PGLP-6</p>
					<p class="margtxtdesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
				</div>
				<div class="col-md-12 col-xs-12 paddtagsha">
					<div class="col-md-10 col-xs-10 padding tagprodu">
						<i class="fa fa-tag" aria-hidden="true"></i> Estructuras tubulares
					</div>
					<div class="col-md-2 col-xs-2 padding text-right">
						<a class="shareprod" href=""><i class="fa fa-share-alt" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="col-md-12 col-xs-12 padding text-center txtprecioest">
					$18 447.79
				</div>
				<div class="col-md-12 col-xs-12 padding margbtnadd">
					<a class="" href=""><button type="" class="btncontt"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Agregar a compras</button></a>
				</div>
			</div>
			<div class="col-md-4 col-xs-12 margproducto">
				<div class="col-md-6 col-xs-12">
					<a href="producto"><img alt="Producto de Controles Visuales" class="muochod" src="fileimages/mobiliaria/ejemplotienda.png"></a>
				</div>
				<div class="col-md-5 col-xs-12 padding  mgrtxtproduc">
					<p><a href="producto" class="titprod">Estructura tubular</a></p>
					<p class="modelprod">PGLP-6</p>
					<p class="margtxtdesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
				</div>
				<div class="col-md-12 col-xs-12 paddtagsha">
					<div class="col-md-10 col-xs-10 padding tagprodu">
						<i class="fa fa-tag" aria-hidden="true"></i> Estructuras tubulares
					</div>
					<div class="col-md-2 col-xs-2 padding text-right">
						<a class="shareprod" href=""><i class="fa fa-share-alt" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="col-md-12 col-xs-12 padding text-center txtprecioest">
					$18 447.79
				</div>
				<div class="col-md-12 col-xs-12 padding margbtnadd">
					<a class="" href=""><button type="" class="btncontt"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Agregar a compras</button></a>
				</div>
			</div>
		</div>-->
</div>