<div class="container cont-gracias">
	<div class="col-md-12 col-xs-12 div-gracias text-center">
	 ¡Gracias por contactarnos!
	</div>
	<div class="col-md-12 col-xs-12 div-gracias-two">
		Hemos recibido tu mensaje, en breve uno de nuestros representantes se pondrá en contacto contigo para dar atención a tu requerimiento. 
		<br>
		<br>
		Mientras tanto, ¡no olvides seguirnos en redes sociales!
		<div class="text-center">
		<div class="col-md-5 redesBlog col-md-offset-0 margredblogg ">
              <li class=""><a href="https://www.facebook.com/leanoutlet/"  target="_blank"><i  class="fa fa-facebook txtseBlog" aria-hidden="true"></i></a></li>
              <li class="redesh2"><a href="https://twitter.com/Lean_Outlet"  target="_blank"><i class="fa fa-twitter txtseBlog" aria-hidden="true"></i></a></li>
              <li class="redesh2"><a href="https://www.instagram.com/leanoutlet/"  target="_blank"><i class="fa fa-instagram txtseBlog" aria-hidden="true"></i></a></li>
              <li class="redesh2"><a href="https://www.youtube.com/channel/UCl6IYl4vFmaYY2IvLzjE5qw"  target="_blank"><i class="fa fa-youtube txtseBlog" aria-hidden="true"></i></a></li>
        </div>
        </div>
	</div>
</div>