<section class="container slidegrand">
  <div class="col-md-12 padding imgbannerconta" title="Contacto">
    <div class="col-md-3 backgroundbannerd">
         <div class="marginbannercu">Contacto</div>
    </div>
  </div>
</section>
<section>
  <div class="container slidegrand">
      <div class="col-md-5">
        <div class="col-md-12 padding">
                  <p class="pcontact">
                  Si desea información adicional sobre nuestros productos o requiere que uno de nuestros asesores le contacte o visite en instalaciones, puede enviarnos un mensaje y nosotros le brindaremos la atención que merece.
                  </p>
                  <p class="pcontact2">
                  ¡Estamos para servirle!

                  </p>
          </div>
          <div class="col-md-12 border">
            <p style="margin-left:10px; text-align: center; margin-top: 2.5rem;font-size: 2.3rem; color: #2FB4F5;margin-bottom: -1rem;">
                  Síguenos en nuestras redes <br/> </p>
            <div class="col-md-10 redesBlog col-md-offset-1 margredblog ">
              <li class=""><a href="https://www.facebook.com/leanoutlet/"  target="_blank"><i  class="fa fa-facebook txtseBlog" aria-hidden="true"></i></a></li>
              <li class="redesh2"><a href="https://twitter.com/Lean_Outlet"  target="_blank"><i class="fa fa-twitter txtseBlog" aria-hidden="true"></i></a></li>
              <li class="redesh2"><a href="https://www.instagram.com/leanoutlet/"  target="_blank"><i class="fa fa-instagram txtseBlog" aria-hidden="true"></i></a></li>
              <li class="redesh2"><a href="https://www.youtube.com/channel/UCl6IYl4vFmaYY2IvLzjE5qw"  target="_blank"><i class="fa fa-youtube txtseBlog" aria-hidden="true"></i></a></li>
            </div>
          </div>
          <!--
          <div class="col-md-12 padding text-center margbotredcontact">
            <div class="col-md-2 margcontactred margtopredprod">
                  <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
            </div>
            <div class="col-md-2 margredtcontact margtopredesprod">
                  <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a>
            </div>
            <div class="col-md-1 padding margtopredesprod">
                  <div class='g-plusone' data-size='tall' expr:data-href="data:post.url"></div>
            </div>
          </div>-->
      </div>
      <div class="col-md-6 padding marsecdoscontact">
        <div class="col-md-12 padding backgroundformcontat">
          <script src="[Contacto Sitio Web form](https://podio.com/webforms/20183009/1373911).js"></script>

          <script type="text/javascript">
          _podioWebForm.render("1373911")
          </script>

          <noscript>
          <a href="[Contacto Sitio Web form](https://podio.com/webforms/20183009/1373911)" target="_blank">Por favor, rellena el formulario</a>
          </noscript>
          <!--<div class="podio-webform-container">
          A webform by <a href="https://podio.com" class="podio-webform-inner" rel="nofollow">Podio</a>
          </div>-->
          <!--<form>
            <div class="form-group">
              <div class="col-md-6">
                <label class="labelcontact" for="nombre">Nombre:</label>
                <input type="text" class="form-control1" id="nombre" aria-describedby="nombreHelp" placeholder="">
              </div>
              <div class="col-md-6">
                <label class="labelcontact" for="apellido">Apellido:</label>
                <input type="text" class="form-control1" id="apellido" aria-describedby="apellidoHelp" placeholder="">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6">
                <label class="labelcontact" for="empresa">Empresa:</label>
                <input type="text" class="form-control1" id="empresa" aria-describedby="empresaHelp" placeholder="">
              </div>
              <div class="col-md-6">
                <label class="labelcontact" for="ciudad">Ciudad:</label>
                <select class="form-control1" id="ciudad">
                  <option></option>
                  <option>Tijuana</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6">
                <label class="labelcontact" for="pais">Pais:</label>
                <select class="form-control1" id="pais">
                  <option></option>
                  <option>México</option>
                  <option>U.S.A </option>
                </select>
              </div>
              <div class="col-md-6">
                <label class="labelcontact" for="telefono">Teléfono:</label>
                <input type="tel" class="form-control1" id="telefono" aria-describedby="telefonoHelp" placeholder="">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <label class="labelcontact" for="pais">Email:</label>
                 <input type="email" class="form-control1" id="email" aria-describedby="telefonoHelp" placeholder="">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <label  class="labelcontact" for="mensaje">Mensaje:</label>
                <textarea class="form-control1" id="mensaje" rows="3"></textarea>
              </div>
            </div>
            <div class="form-check">
                <div class="col-md-12 labelcontactpolit">
                  <div class="col-md-6 padding">
                  Todos los campos son Olbigatorios
                  </div>
                  <div class="col-md-6 martoppoli martoppoli padding">
                    <input type="checkbox" class="form-check-input">
                    He leído y acepto <a href="" class="hiperpolicolor">política de privacidad</a>
                  </div>
                </div>
            </div>
            <div class="col-md-12 text-center padenvcontbot">
            <button type="submit" class="enviarcont">Enviar</button>
            </div>
          </form>-->
        </div>
      </div>
</div>
</section>
