<section id="carritousuario" class="container margntopcar">
  <!--<div class="col-md-12 ">
  <hr style="background:#000;">
  <div class="col-md-6">Producto en el Carrito</div>
  <div class="col-md-6">Precio - Cantidad</div>
  <div class="col-md-6 col-xs-12 margproducto">
    <div class="col-md-5 col-xs-12">
      <a href="producto"><img alt="Producto de Materiales para Entrenamiento Lean" class="muochod" src="fileimages/mobiliaria/ejemplotienda.png"></a>
    </div>
    <div class="col-md-6 col-xs-12 padding mgrtxtproduc">
      <p><a href="producto" class="titprod">Estructura tubular</a></p>
      <p class="modelprod">PGLP-6</p>
    </div>
  </div>
  <div class="col-md-6 margtopcar">
    <div class="col-md-12 col-xs-12 padding text-center txtprecioest">
      $18,447.79
    </div>
    <div class="form-group col-xs-12 col-xs-offset-0 col-md-4 col-md-offset-4">
      <label for="sel1">Select list:</label>
      <select class="form-control" id="sel1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
      <div class="col-md-12 col-xs-12 text-center">
        <a href=""><button type="" class="btn btn--ys btn--xl"> Quitar </button></a>
      </div>
     </div> 
  </div>
</div>
 <div class="col-md-12">
  <hr style="background:#000;">
  <div class="col-md-6">Producto en el Carrito</div>
  <div class="col-md-6">Precio - Cantidad</div>
  <div class="col-md-6 col-xs-12 margproducto">
    <div class="col-md-5 col-xs-12">
      <a href="producto"><img alt="Producto de Materiales para Entrenamiento Lean" class="muochod" src="fileimages/mobiliaria/ejemplotienda.png"></a>
    </div>
    <div class="col-md-6 col-xs-12 padding mgrtxtproduc">
      <p><a href="producto" class="titprod">Estructura tubular</a></p>
      <p class="modelprod">PGLP-6</p>
      <p class="margtxtdesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    </div>
  </div>
  <div class="col-md-6 margtopcar">
    <div class="col-md-12 col-xs-12 padding text-center txtprecioest">
      $18,447.79
    </div>
    <div class="form-group col-xs-12 col-xs-offset-0 col-md-4 col-md-offset-4">
  <label for="sel1">Select list:</label>
  <select class="form-control" id="sel1">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select>
  <div class="col-md-12 col-xs-12 text-center">
  <a href=""><button type="" class="btn btn--ys btn--xl"> Quitar </button></a>
  </div>
  </div> 
  </div>
</div>
<div class="col-md-12 text-center">
  <button type="submit" class="btn btn--ys btn--xl"> ¡Comprar! </button>
  <a href=""><button type="" class="btn btn--ys btn--xl"> Regresar </button></a>
</div>-->
</section>
<section class="container margntopcar">
  <div class="col-md-12 col-xs-12">
    <hr class="hrt">
    <div class="col-md-12 col-xs-12 ">
      <div class="col-md-6 col-xs-12">
      <p>Nota: El pedido llegará al domicilio registrado en PayPal, verifique que sus datos sean los correctos.</p>
      <p>Se incluye en PayPal el 10% de pago total de envío.</p>
      <center><img src="https://www.paypalobjects.com/webstatic/es_MX/mktg/logos-buttons/grey_btn-356x42.png" alt="PayPal Credit" /></center>
      </div>
      <div class="col-md-6">
      <div id="totalpago" class="col-md-12 text-center totpag"></div>
      <div id="btnpago" class="col-md-12 text-center">
      <form id="frmPaypal" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_cart">
      <input type="hidden" name="upload" value="1">
      <input type="hidden" name="rm" value="2">
      <input type="hidden" name="business" value="pagostest@leanoutlet.com">
      <input type='hidden' name="return" value='http://www.bonzercreative.com/sitio_outlean/carrito/gracias'>
      <input type="hidden" name="currency_code" value="MXN">
      <input type="hidden" id="envio" name="shipping_1" value="">
      <input type="hidden" name="notify_url" value="http://www.bonzercreative.com/sitio_outlean/carrito">
      <input type="hidden" name="cancel_return" value="http://www.bonzercreative.com/sitio_outlean/carrito">
      <input type="hidden" name="hosted_button_id" value="QXHP3A2QP2FFY">
      <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
      <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
      </form>
  </div>
</div>
      
    </div>
  </div>
</section>
