 .elem-img{
        display: inline-block;
    }

.resize-container {
    position: relative;
    display: inline-block;
    cursor: move;
    margin: 0 auto;
}

.resize-container img {
    display: block
}

.resize-container:hover img,
.resize-container:active img {
    outline: 2px dashed rgba(222,60,80,.9);
}

.resize-handle-ne,
.resize-handle-se,
.resize-handle-nw,
.resize-handle-sw {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background: rgba(222,60,80,.9);
    z-index: 999;
}

.resize-handle-nw {
    top: -5px;
    left: -5px;
    cursor: nw-resize;
    background:rgb(188,24,30);
    border-radius: 20px;
    width: 15px;
    height: 15px;
}

.resize-handle-sw {
    bottom: -5px;
    left: -5px;
    cursor: sw-resize;
    background:rgb(188,24,30);
    border-radius: 20px;
    width: 15px;
    height: 15px;
}
.resize-handle-sw-ch {
    bottom: -5px;
    left: -5px;
    cursor: sw-resize;
    background:rgb(35,31,32);
    border-radius: 20px;
}
.resize-handle-ne {
    top: -5px;
    right: -5px;
    cursor: ne-resize;
    background:rgb(188,24,30);
    border-radius: 20px;
    width: 15px;
    height: 15px;
}

.resize-handle-se {
    bottom: -5px;
    right: -5px;
    cursor: se-resize;
    background:rgb(188,24,30);
    border-radius: 20px;
    width: 15px;
    height: 15px;
}
.overlay {
 border: 2px solid rgba(188, 24, 30, 0.9);
    box-shadow: 0 0 0 899px rgba(0, 0, 0, 0.5);
    box-sizing: content-box;
    height: 200px;
    left: 50%;
    margin-left: -20%;
    margin-top: -20%;
    pointer-events: none;
    position: absolute;
    top: 80%;
    width: 200px;
    z-index: 999;
	
}


.overlay-inner:after,
.overlay-inner:before {
	content: '';
	position: absolute;
	display: none;
	width: 40px;
	height: 204px;
    border-top: dashed 2px rgba(188,24,30,.9);
	border-bottom: dashed 2px rgba(188,24,30,.9);
}

.overlay-inner:before {
	left: 0;
	margin-left: -40px;
	margin-top: -2px;
}

.overlay-inner:after{
	right: 0;
	margin-right: -40px;
	margin-top: -2px;
}

.btn-crop {
	position: absolute;
	vertical-align: bottom;
	right: 5px;
	bottom: 5px;
	padding: 6px 10px;
	z-index: 999;
	
	
	
}

.btn-crop img {
	vertical-align: middle;
	margin-left: 8px;
}
.btn-cancelcrop{
   bottom: 5px;
    padding: 6px 10px;
    position: absolute;
    right: 42px;
    vertical-align: bottom;
    width: 117px;
    z-index: 999;

    }
