<section class="container slidegrand">
  <div class="col-md-12 padding imgbannermate" title="Materiales para Entrenamiento Lean">
    <div class="col-md-3 backgroundbannercu">
         <div class="marginbannersiete">Materiales para Entrenamiento Lean</div>
    </div>
  </div>
</section>
<section class="container">
	<div class="col-md-12 col-xs-12 padding">
		<div class="col-md-12 col-xs-12 text-center"><h2 class="titest">Materiales para Entrenamiento Lean</h2></div>
	    <br>
	    <div class="col-md-12 col-xs-12 txtest"><p>Estamos convencidos de que los procesos de aprendizaje dinámicos, basados en simulaciones prácticas, facilitan la adquisición e implementación de todos los aspectos relacionados a la filosofía Lean, creando mejores ambientes de trabajo y promoviendo la Mejora Continua, lo que otorga a las personas una sensación de crecimiento y logro mejor y más clara. </p>
		<p>Por esta razón, nuestros materiales para entrenamiento lean son una combinación estratégica de teoría, ejemplos prácticos y simulaciones que fortalecen el conocimiento de los entrenamientos, potencializando así sus resultados.</p>
		</div>
	</div>
</section>
<section>
	<div class="container">
	  	<div class="col-md-12 col-xs-12 marflecha padding">
	    	<!--<div class="col-md-3 col-xs-12 backgroundestbox margboxgray">
	    		<div class="txtboxpadu"><a href="" class="txtboxestu">Estaciones de Trabajo</a></div>
	    		<hr class="hru">
	    		<div class=""><a href="" class="txtboxestd">Moving carts</a></div>
	    		<hr class="hru">
	    		<div class="txtboxpadd"><a href="" class="txtboxestt">Racks de materiales</a></div>
	    		<div class="text-center txtboxestcu">¿Requiere estaciones de trabajo diseñadas a la medida (custom)?</div>
	    		<div class="text-center margcont"><a class="" href="contacto"><button type="" class="btncontd">Contáctenos</button></a></div>
	    	</div>-->
	    	<div id="catmat" class="col-md-9 col-xs-12">
	    		<div class="margtopest col-xs-12 col-md-12  margbotmob">
	    			<div class="col-md-1 col-xs-2 padding fletitu">></div><div id="tit1" class="col-md-11 col-xs-10 padding margest">5S</div>
	    			<div class="txtestdos col-md-12 col-xs-12 padding">
	    				Reconocida metodología japonesa implementada para mantener la clasificación, el orden y la limpieza en el área de trabajo de cualquier empresa. Consta de los siguientes fundamentos:
	    				<div class="col-md-12 col-xs-12 padding text-left">
	    				<ul>
	    				<li> Seiri - Selección o clasificación: distinguir lo que es necesario de lo que no lo es.
						<li> Seiton - Orden u organización: un lugar para cada cosa y cada cosa en su lugar.
						<li> Seiso - Limpieza: establecer métodos para mantener limpio el lugar de trabajo.
						<li> Seiketsu - Estandarización: mantener tres primeras S para poder mejorar.
						<li> Shitsuke - Disciplina: establecer reglas para sostener la metodología hasta que se vuelva cultura.
						</ul>
						</div>
	    			</div> 
	    			<img alt="5s" class="hidden-md hidden-lg" src="fileimages/materiales/ejemplo1.jpg">
	    		</div>
	    		<div class="margtopest col-xs-12 col-md-12 margbotmob">
	    			<div class="col-md-1 col-xs-2 padding fletitu">></div><div id="tit1" class="col-md-11 col-xs-10 padding margest">8 desperdicios</div>
	    			<div class="txtestdos col-md-12 col-xs-12 padding">
	    				Se comprende como desperdicio todas las actividades de no generan valor agregado dentro de un proceso, que rompen el flujo y/o lo hacen improductivo. La eliminación del desperdicio nos permite hacer más con menos.
	    				<div class="col-md-12 col-xs-12">
	    				1. Sobreproducción<br>
						2. Espera<br>
						3. Transporte<br>
						4. Defectos<br>
						5. Sobreprocesamiento<br>
						6. Inventarios<br>
						7. Movimientos excesivos<br>
						8. Talento no utilizado<br>
						</div>
	    			</div> 
	    			<img alt="8 desperdicios" class="hidden-md hidden-lg" src="fileimages/materiales/ejemplo1.jpg">
	    		</div>
	    		<div class="margtopest col-xs-12 col-md-12  margbotmob">
	    			<div class="col-md-1 col-xs-2 padding fletitu">></div><div id="tit1" class="col-md-11 col-xs-10 padding margest">VSM</div>
	    			<div id="txt2" class="txtestdos col-md-12 col-xs-12 padding">
	    				Los Mapas de Flujo de Valor (VSM, por sus siglas en inglés) son una técnica gráfica que permite visualizar detalladamente todo un proceso, facilitando la comprensión de cualquier proceso, tanto en términos de información como de materiales necesarios para que un producto o servicio sea ejecutado de manera óptima. Con esta técnica se identifican las actividades que no agregan valor a nuestros procesos,procediendo posteriormente a su eliminación.
	    			</div>
	    			<img alt="VSM" class="imgmuesiete hidden-md hidden-lg" src="fileimages/materiales/ejemplo2.jpg">
	    		</div>
	    		<div class="margtopest col-xs-12 col-md-12  margbotmob">
	    			<div class="col-md-1 col-xs-2 padding fletitu">></div><div id="tit1" class="col-md-11 col-xs-10 padding margest">Kaizen</div>
	    			<div class="txtestdos col-md-12 col-xs-12 padding">
	    				Filosofía japonesa enfocada a la Mejora Continua mediante la eliminación de residuos o desperdicios, los cuales son eliminados de forma sistemática mediante la ejecución continua de mejoras. El Kaizen no solamente es aplicable a nivel organizacional, sino que puede ser aplicado sobre todos los aspectos de la vida.
	    			</div> 
	    			<img alt="Kaizen" class="hidden-md hidden-lg" src="fileimages/materiales/ejemplo1.jpg">
	    		</div>
	    		
	    		<div class="margtopest col-xs-12 col-md-12  margbotmob">
	    			<div class="col-md-1 col-xs-2 padding fletitu">></div><div id="tit1" class="col-md-11 col-xs-10 padding margest">Problem Solving</div>
	    			<div class="txtestdos col-md-12 col-xs-12 padding">
	    				Este es un procedimiento aplicado a la resolución de problemas. Existen diferentes métodos, y cada uno proporciona soluciones prácticas y asertivas.
	    				<div class="col-md-12 col-xs-12 padding">
	    				  <ul>
						  <li>A3 Problem Solving</li>
						  <li>PDCA Problem Solving</li>
						  <li>Problem Solving Estratégico</li>
						 </ul>
						</div>
	    			</div> 
	    			<img alt="Problem Solving" class="hidden-md hidden-lg" src="fileimages/materiales/ejemplo1.jpg">
	    		</div>
	    		<div class="margtopest col-xs-12 col-md-12  margbotmob">
	    			<div class="col-md-1 col-xs-2 padding fletitu">></div><div id="tit1" class="col-md-11 col-xs-10 padding margest">Lego Serious Play™</div>

	    			<div id="txt2" class="txtestdos col-md-12 col-xs-12 padding">
	    				Nuestros kits de entrenamiento de Lego Serious Play™ consisten en simulaciones prácticas creadas por nuestra empresa con el uso de Legos, que permiten aterrizar todos los conceptos y herramientas en actividades específicas. El juego permite transmitir y hacer entender conceptos abstractos y temas complejos que de lo contrario resultan difíciles de comprender. Estos entrenamientos son dinámicos, prácticos y sobre todo ¡divertidos! Nuestros kits incluyen todos los materiales necesarios para llevar a cabo el entrenamiento (piezas, presentaciones, instructivos, etc.). 
	    			</div>
	    			<img alt="Lego Serious Play™" class="imgmuesiete hidden-md hidden-lg" src="fileimages/materiales/ejemplo2.jpg">
	    		</div>
	    	</div>
	    	<div class="col-md-3 hidden-xs margtopimgest">
	    		<img alt="5s" class="hidden-xs" src="fileimages/materiales/ejemplo1.jpg">
	    		<img alt="8 desperdicios" class="imgmuesiete hidden-xs" src="fileimages/materiales/ejemplo2.jpg">
	    		<img alt="VSM" class="hidden-xs" src="fileimages/materiales/ejemplo1.jpg">
	    		<img alt="Kaizen" class="imgmuesiete hidden-xs" src="fileimages/materiales/ejemplo2.jpg">
	    		<img alt="Problem Solving" class="hidden-xs" src="fileimages/materiales/ejemplo1.jpg">
	    		<img alt="Lego Serious Play" class="imgmuesiete hidden-xs" src="fileimages/materiales/ejemplo2.jpg">
	    	</div>
		</div>
		<div class="col-md-12 col-xs-12 padding">
			<div class="col-md-6 hidden-xs"></div>
			<div class="col-md-6 col-xs-12">
			      <div class="col-md-2 col-md-offset-5 col-xs-4 col-xs-offset-0 margfcblikeest">
			        <div class="fb-like" data-href="https://www.facebook.com/leanoutlet/" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
			      </div>
			      <div class="col-md-2 col-xs-4 margredtmob">
			        <a class="twitter-follow-button" href="https://www.twitter.com/Lean_Outlet" data-show-count="false" data-show-screen-name="false" data-size="default">Follow</a>
			      </div>
			      <!--<div class="col-md-2 col-xs-4 padding">
			        <div class='g-plusone' data-size='tall' expr:data-href="data:post.url"></div>
			      </div>-->
			</div>
		</div>
		
	</div>
</section>
<div class="container containerpro containerpro1">
	<div class="col-md-12 col-xs-12 padding">
		<div class="col-md-12 col-xs-12 padding txttitesta">
				Materiales para Entrenamiento Lean disponibles
		</div>
		<div class="col-md-12 col-xs-12 padding txtproduc">
				6 productos
		</div>
		<div class="col-md-12 col-xs-12 padding ">
				<hr class="hrd">
		</div>
	</div>
	<div id="contproductosm" class="col-md-12 col-xs-12 padding espaentreproducts">
			<!--<div class="col-md-4 col-xs-12 margproducto">
				<div class="col-md-6 col-xs-12 paddingres">
					<a href="producto"><img alt="Producto de Materiales para Entrenamiento Lean" class="muochod" src="fileimages/mobiliaria/ejemplotienda2.png"></a>
				</div>
				<div class="col-md-5 col-xs-12 padding mgrtxtproduc">
					<p ><a href="producto" class="titprod">Estructura tubular</a></p>
					<p class="modelprod">PGLP-6</p>
					<p class="margtxtdesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
				</div>
				<div class="col-md-12 col-xs-12 paddtagsha">
					<div class="col-md-10 col-xs-10 padding tagprodu">
						<i class="fa fa-tag" aria-hidden="true"></i> Estructuras tubulares
					</div>
					<div class="col-md-2 col-xs-2 padding text-right">
						<a class="shareprod" href=""><i class="fa fa-share-alt" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="col-md-12 col-xs-12 padding text-center txtprecioest">
					$18 447.79
				</div>
				<div class="col-md-12 col-xs-12 padding margbtnadd">
					<button  data-toggle="modal" data-target="#myModal" type="" class="btnPComPro btncontt"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Agregar a compras</button>
						<div class="modal fade" id="myModal" role="dialog">
		    		<div class="modal-dialog">
		    
			      
			      <div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			          <h4 class="modal-title">Lean Outlet</h4>
			        </div>
			        <div class="modal-body">
			          <p>Agregando al Carrito de Compras</p>
			       	</div>
			       <div class="modal-footer">
			         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        </div>
			      </div>
		      
		    				</div>
		  				</div>
				</div>
			</div>
			<div class="col-md-4 col-xs-12 margproducto">
				<div class="col-md-6 col-xs-12  paddingres">
					<a href="producto"><img alt="Producto de Materiales para Entrenamiento Lean" class="muochod" src="fileimages/mobiliaria/ejemplotienda.png"></a>
				</div>
				<div class="col-md-5 col-xs-12 padding mgrtxtproduc">
					<p><a href="producto" class="titprod">Estructura tubular</a></p>
					<p class="modelprod">PGLP-6</p>
					<p class="margtxtdesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
				</div>
				<div class="col-md-12 col-xs-12 paddtagsha">
					<div class="col-md-10 col-xs-10 padding tagprodu">
						<i class="fa fa-tag" aria-hidden="true"></i> Estructuras tubulares
					</div>
					<div class="col-md-2 col-xs-2 padding text-right">
						<a class="shareprod" href=""><i class="fa fa-share-alt" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="col-md-12 col-xs-12 padding text-center txtprecioest">
					$18 447.79
				</div>
				<div class="col-md-12 col-xs-12 padding margbtnadd">
					<button data-toggle="modal" data-target="#myModal" type="" class="btnPComPro btncontt"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Agregar a compras</button>
				</div>
			</div>
			<div class="col-md-4 col-xs-12 margproducto">
				<div class="col-md-6 col-xs-12">
					<a href="producto"><img alt="Producto de Materiales para Entrenamiento Lean" class="muochod" src="fileimages/mobiliaria/ejemplotienda2.png"></a>
				</div>
				<div class="col-md-5 col-xs-12 padding mgrtxtproduc">
					<p><a href="producto" class="titprod">Estructura tubular</a></p>
					<p class="modelprod">PGLP-6</p>
					<p class="margtxtdesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
				</div>
				<div class="col-md-12 col-xs-12 paddtagsha">
					<div class="col-md-10 col-xs-10 padding tagprodu">
						<i class="fa fa-tag" aria-hidden="true"></i> Estructuras tubulares
					</div>
					<div class="col-md-2 col-xs-2 padding text-right">
						<a class="shareprod" href=""><i class="fa fa-share-alt" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="col-md-12 col-xs-12 padding text-center txtprecioest">
					$18 447.79
				</div>
				<div class="col-md-12 col-xs-12 padding margbtnadd">
					<button data-toggle="modal" data-target="#myModal" type="" class="btnPComPro btncontt"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Agregar a compras</button>
				</div>
			</div>-->
		</div>
		<!--<div class="col-md-12 col-xs-12 padding margfilaprod">
			<div class="col-md-4 col-xs-12 margproducto">
				<div class="col-md-6 col-xs-12">
					<a href="producto"><img alt="Producto de Materiales para Entrenamiento Lean" class="muochod" src="fileimages/mobiliaria/ejemplotienda.png"></a>
				</div>
				<div class="col-md-5 col-xs-12 padding mgrtxtproduc">
					<p><a href="producto" class="titprod">Estructura tubular</a></p>
					<p class="modelprod">PGLP-6</p>
					<p class="margtxtdesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
				</div>
				<div class="col-md-12 col-xs-12 paddtagsha">
					<div class="col-md-10 col-xs-10 padding tagprodu">
						<i class="fa fa-tag" aria-hidden="true"></i> Estructuras tubulares
					</div>
					<div class="col-md-2 col-xs-2 padding text-right">
						<a class="shareprod" href=""><i class="fa fa-share-alt" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="col-md-12 col-xs-12 padding text-center txtprecioest">
					$18 447.79
				</div>
				<div class="col-md-12 col-xs-12 padding margbtnadd">
					<button data-toggle="modal" data-target="#myModal" type="" class="btnPComPro btncontt"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Agregar a compras</button>
				</div>
			</div>
			<div class="col-md-4 col-xs-12 margproducto">
				<div class="col-md-6 col-xs-12">
					<a href="producto"><img alt="Producto de Materiales para Entrenamiento Lean" class="muochod" src="fileimages/mobiliaria/ejemplotienda2.png"></a>
				</div>
				<div class="col-md-5 col-xs-12 padding mgrtxtproduc">
					<p><a href="producto" class="titprod">Estructura tubular</a></p>
					<p class="modelprod">PGLP-6</p>
					<p class="margtxtdesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
				</div>
				<div class="col-md-12 col-xs-12 paddtagsha">
					<div class="col-md-10 col-xs-10 padding tagprodu">
						<i class="fa fa-tag" aria-hidden="true"></i> Estructuras tubulares
					</div>
					<div class="col-md-2 col-xs-2 padding text-right">
						<a class="shareprod" href=""><i class="fa fa-share-alt" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="col-md-12 col-xs-12 padding text-center txtprecioest">
					$18 447.79
				</div>
				<div class="col-md-12 col-xs-12 padding margbtnadd">
					<button data-toggle="modal" data-target="#myModal" type="" class="btnPComPro btncontt"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Agregar a compras</button>
				</div>
			</div>
			<div class="col-md-4 col-xs-12 margproducto">
				<div class="col-md-6 col-xs-12">
					<a href="producto"><img alt="Producto de Materiales para Entrenamiento Lean" class="muochod" src="fileimages/mobiliaria/ejemplotienda.png"></a>
				</div>
				<div class="col-md-5 col-xs-12 padding  mgrtxtproduc">
					<p><a href="producto" class="titprod">Estructura tubular</a></p>
					<p class="modelprod">PGLP-6</p>
					<p class="margtxtdesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
				</div>
				<div class="col-md-12 col-xs-12 paddtagsha">
					<div class="col-md-10 col-xs-10 padding tagprodu">
						<i class="fa fa-tag" aria-hidden="true"></i> Estructuras tubulares
					</div>
					<div class="col-md-2 col-xs-2 padding text-right">
						<a class="shareprod" href=""><i class="fa fa-share-alt" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="col-md-12 col-xs-12 padding text-center txtprecioest">
					$18 447.79
				</div>
				<div class="col-md-12 col-xs-12 padding margbtnadd">
					<button data-toggle="modal" data-target="#myModal" type="" class="btnPComPro btncontt"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Agregar a compras</button>
				</div>
			</div>
		</div>-->
</div>