<div class="row clearfix">
	{{ Form.create("guardar/"~id,"frmBlog") }}
    <label class="col-md-12">Blog</label>
		<div class="col-md-12 colum">
        <div class="form-group">
           {{ Form.Input("titulo_seo",{"label":{"text":"Título SEO:", "class":"control-label"}, "class":"form-control"}) }}
        </div>
    </div>
    <div class="col-md-12 colum">
        <div class="form-group">
           {{ Form.Input("description_seo",{"label":{"text":"Descripción SEO:", "class":"control-label"}, "class":"form-control"}) }}
        </div>
    </div>
     <div class="col-md-12 colum">
        <div class="form-group">
           {{ Form.Input("keywords_seo",{"label":{"text":"Palabras Clave SEO:", "class":"control-label"}, "class":"form-control"}) }}
        </div>
    </div>
    <div class="col-md-4 colum">
        <div class="form-group">
            <div id="list">
                <img id="imgFotoP" src="fileimages/casos/camara-02.svg"/>
            </div>
               {{ Form.Input("img",{"label":{"text":"Imagen de portada Blog:", "class":"control-label"}, "type":"file" }) }}
        </div>
    </div>
    <div class="col-md-12 colum">
    	{{Form.Submit("Guardar",{"class":"btn  btn-agregar"})}}
		{{Html.Link("blog","Cancelar",{"class":"btn btn-agregar"})}}
		{{ Form.End() }}
	</div>
</div>
