<section class="container slidegrand">
  <div class="col-md-12 col-xs-12 padding imgbannerblog" title="Blog">
    <div class="col-md-3 backgroundbannerd">
         <div class="marginbannert">Blog</div>
    </div>
  </div>
</section>
<section>
	<div class="container blogwidth">
		<div class="col-md-12 col-xs-12 padding">
			<div class="col-md-3 col-xs-12 text-center margunsecprod">
				<div class="col-md-12 col-xs-12">
					<a class="twitter-timeline" href="https://www.twitter.com/Lean_Outlet" data-width="300" data-height="310">Tweets by Lean Outlet</a>
				</div>
				<div class="col-md-12 col-xs-12">
					<div class="fb-page" data-href="https://www.facebook.com/leanoutlet/" data-width="300" data-height="375"data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true">
     				<div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/leanoutlet/"></blockquote></div>
     				</div>
				</div>
			</div>
			<div id="bloglist" class="col-md-6 col-xs-12 ">
				<!--id="last-new"<div class="col-md-12 col-xs-12 margbotblog padding"><a href="articulo" class="titlebloghiper">
					<img alt="Articulo de Lean Outlet™" class="hidden-md hidden-lg imgmu11" src="fileimages/blog/mue11.png">
					<h2 class="titleblog">Esta metodología de mejora de la eficiencia en manufacturas</h2></a>
					<div class="subblog">Empresas, Innovación, cultura</div>
					<div class="fechblog">MAYO 6, 2016</div>
				</div>
				<div class="col-md-12 margbotblog padding">
					<a  href="articulo" class="titlebloghiper">
					<img alt="Articulo de Lean Outlet™" src="fileimages/blog/mue12.png" class="hidden-md hidden-lg imgmu12">
					<h2 class="titleblog">Esta metodología de mejora de la eficiencia en manufacturas</h2></a>
					<div class="subblog">Empresas, Innovación, cultura</div>
					<div class="fechblog">MAYO 6, 2016</div>
				</div>
				<div class="col-md-12 margbotblog padding">
					<a  href="articulo" class="titlebloghiper">
					<img alt="Articulo de Lean Outlet™" src="fileimages/blog/mue13.png" class="hidden-md hidden-lg imgmu12">
					<h2 class="titleblog">Esta metodología de mejora de la eficiencia en manufacturas</h2></a>
					<div class="subblog">Empresas, Innovación, cultura</div>
					<div class="fechblog">MAYO 6, 2016</div>
				</div>
				<div class="col-md-12 margbotblog padding">
					<a href="articulo" class="titlebloghiper">
					<img alt="Articulo de Lean Outlet™" src="fileimages/blog/mue12.png" class="hidden-md hidden-lg imgmu12">
					<h2 class="titleblog">Esta metodología de mejora de la eficiencia en manufacturas</h2></a>
					<div class="subblog">Empresas, Innovación, cultura</div>
					<div class="fechblog">MAYO 6, 2016</div>
				</div>-->
			</div>
			<div class="col-md-3 hidden-xs margbotblogimg">
				<!--<img alt="Articulo de Lean Outlet™" src="fileimages/blog/mue11.png" class="imgmu11">
				<img alt="Articulo de Lean Outlet™" src="fileimages/blog/mue12.png" class="imgmu12">
				<img alt="Articulo de Lean Outlet™" src="fileimages/blog/mue13.png" class="imgmu12">
				<img alt="Articulo de Lean Outlet™" src="fileimages/blog/mue12.png" class="imgmu12">-->
			</div>
		</div>
		<div  id="blog-paginator" class="col-md-12 col-xs-12 padding text-center margbot margbotpaginador">
			<!--<ul class="pagination">
			  <li><a href="#" class="pagflech"><i class="fa fa-caret-left"  aria-hidden="true"></i></a></li>
			  <li><a href="#">1</a></li>
			  <li><a href="#">2</a></li>
			  <li><a href="#">3</a></li>
			  <li><a href="#">4</a></li>
			  <li><a href="#">5</a></li>
			  <li><a href="#" class="pagflech"><i class="fa fa-caret-right" aria-hidden="true"></i></a></li>
			</ul>-->
		</div>
		<div id="videos" class="col-md-12 col-xs-12 padding margbotsecvid">
			<!--<div class="col-md-6">
				<div class="col-md-12 padding">
					<iframe class="anchovideoblog" src="https://www.youtube.com/embed/4rs_17FMgY4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					<h2 class="titvideblog">Earn from Amazon and Louis Vuitton's Lean Manufacturing Method </h2>
				</div>
			</div>
			<div class="col-md-6">
				<div class="col-md-12 padding">
					<iframe class="anchovideoblog" src="https://www.youtube.com/embed/wfsRAZUnonI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					<h2 class="titvideblog">Four Principles Lean Management - Get Lean in 90 Seconds</h2>
				</div>
			</div>-->
		</div>
		<!--<div class="col-md-12 col-xs-12 padding margbotsecvid">
			<div class="col-md-6">
				<div class="col-md-12 padding">
					<iframe class="anchovideoblog" src="https://www.youtube.com/embed/aKDp8NfsAPU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					<h2 class="titvideblog">Enplanta presenta: Mudas en 120 segundos</h2>
				</div>
			</div>
			<div class="col-md-6">
				<div class="col-md-12 padding">
					<iframe class="anchovideoblog" src="https://www.youtube.com/embed/N2max44IqKA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					<h2 class="titvideblog">Enplanta presenta: 5S en 120 segundos</h2>
				</div>
			</div>
		</div>-->
		<div id="blog-paginatorvideo" class="col-md-12 col-xs-12 padding text-center margpagvid">
			<!--<ul class="pagination">
			  <li><a href="#" class="pagflech"><i class="fa fa-caret-left"  aria-hidden="true"></i></a></li>
			  <li><a href="#">1</a></li>
			  <li><a href="#">2</a></li>
			  <li><a href="#">3</a></li>
			  <li><a href="#">4</a></li>
			  <li><a href="#">5</a></li>
			  <li><a href="#" class="pagflech"><i class="fa fa-caret-right" aria-hidden="true"></i></a></li>
			</ul>-->
		</div>
	</div>
</section>