<div class="col-md-12 a-acerca">
	<div class="container2">
		<div class="col-md-5">

		</div>
		<div class="col-md-7 blogtt">
			<div class="col-md-12 titulo">
        
			</div>
    </div>
  </div>

</div>
<div class="container1 ">

  <div class="col-md-12 a-publicaciones" style="background-color:#FFF;">
  	<div class="container1">
			<div class="col-md-12 text-right social-icons social-icons2">
			<ul class="social-share">
				<li style="margin-right: 9px;">
					<div class="fb-share-button" 	 data-href="https://mifactura.com/" 	 data-layout="button_count">
					</li>
							<li style="margin-right: 8px;">
								<a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a>
							</li>
								<li style="margin-right: 9px;">
							<div class="g-plus" data-action="share" data-annotation="bubble" data-href="http://mifactura.com"></div>
							</li>
							<li>
							<script type="IN/Share" data-counter="right"></script>
						</li>
	</ul>
	 </div>

			</div>
  		<div class="col-md-12 t-publicaciones">
  			Publicaciones más recientes
  		</div>

  		<div class="col-md-12">
  			<div class="col-md-12 publicaciones">

  			</div>

  			<!--<div class="col-md-4 publicacion">
  				<div class="col-md-12 img">
  					<img src="fileimages/home/camara-02.svg">
  				</div>
  				<div class="col-md-12 titulo">
  					Como  hacer  la  Factura  Global  al público    en    General    y    evitar multas del SAT
  				</div>
  				<div class="col-md-12 texto">
  					El emitir una factura global por las ventas al público  en  general  es  obligatorio  para  los contribuyentes  que  tienen  ingresos  por  la venta de algún producto o servicio. Este comprobante se expide por las transacciones o ventas que no emita un CFDI.
  				</div>
  			</div>
  			<div class="col-md-4 publicacion">
  				<div class="col-md-12 img">
  					<img src="fileimages/home/camara-02.svg">
  				</div>
  				<div class="col-md-12 titulo">
  					Como  hacer  la  Factura  Global  al público    en    General    y    evitar multas del SAT
  				</div>
  				<div class="col-md-12 texto">
  					El emitir una factura global por las ventas al público  en  general  es  obligatorio  para  los contribuyentes  que  tienen  ingresos  por  la venta de algún producto o servicio. Este comprobante se expide por las transacciones o ventas que no emita un CFDI.
  				</div>
  			</div>
  			<div class="col-md-4 publicacion">
  				<div class="col-md-12 img">
  					<img src="fileimages/home/camara-02.svg">
  				</div>
  				<div class="col-md-12 titulo">
  					Como  hacer  la  Factura  Global  al público    en    General    y    evitar multas del SAT
  				</div>
  				<div class="col-md-12 texto">
  					El emitir una factura global por las ventas al público  en  general  es  obligatorio  para  los contribuyentes  que  tienen  ingresos  por  la venta de algún producto o servicio. Este comprobante se expide por las transacciones o ventas que no emita un CFDI.
  				</div>
  			</div>-->
  		</div>

  	</div>
  </div>

</div>
