<section class="container slidegrand">
  <div class="col-md-12 col-xs-12 padding imgbannermob" title="Mobiliario Lean">
    <div class="col-md-3 backgroundbannerd backgroundbannerdresp">
         <div class="marginbannerd">Mobiliario Lean</div>
    </div>
  </div>
</section>
<section class="container">
	<div class="col-md-12 col-xs-12 padding">
		<div class="col-md-12 col-xs-12 text-center"><h2 class="titest">Mobiliario Lean</h2></div>
	    <br>
	    <div class="col-md-12 col-xs-12 txtest">Las estructuras tubulares son un sistema moderno, versátil y revolucionario que permite diseñar estaciones de trabajo y flujos de materiales en las líneas de producción, siendo una solución ligera y de gran movilidad.</div>
	</div>
</section>
<section>
	<div class="container">
	  	<div class="col-md-12 col-xs-12 marflecha padding">
	    	<!--<div class="col-md-3 col-xs-12 backgroundestbox margboxgray">
	    		<div class="txtboxpadu"><a id="op1" href="mobiliario_lean#estaciones_de_trabajo" class="txtboxestu">Estaciones de Trabajo</a></div>
	    		<hr class="hru">
	    		<div class=""><a id="op2" href="" class="txtboxestd">Moving carts</a></div>
	    		<hr class="hru">
	    		<div class="txtboxpadd"><a id="op3" href="" class="txtboxestt">Racks de materiales</a></div>
	    		<div class="text-center txtboxestcu">¿Requiere equipos diseñado a la medida (custom)?</div>
	    		<div class="text-center margcont"><a class="" href="contacto"><button type="" class="btncontd">Contáctenos</button></a></div>
	    	</div>-->
	    	<div class="col-md-9 col-xs-12">
	    		<div class="margtopest col-xs-12 col-md-12 margbotmob">
	    			<div class="col-md-1 col-xs-2 padding fletitu">></div><div id="tit1" class="col-md-11 col-xs-10 padding margest">Estaciones de Trabajo</div>
	    			<div id="txt1" class="txtestdos col-md-12 col-xs-12 padding ">
	    				Las estructuras tubulares son un sistema moderno, versátil y revolucionario
	    				que permite diseñar estaciones de trabajo y flujos de materiales en las líneas de producción, siendo una solución ligera y de gran movilidad.
	    			</div>
	    			<img alt="Estaciones de Trabajo" class="hidden-md hidden-lg" src="fileimages/mobiliaria/ejemplo1.jpg">
	    		</div>
	    		<div class="margtopest col-xs-12 col-md-12 margbotmob">
	    			<div class="col-md-1 col-xs-2 padding fletitd">></div><div id="tit2" class="col-md-11 col-xs-10 padding margesta">Moving Carts </div>
	    			<div id="txt2" class="txtestdos col-md-12 col-xs-12 padding">
	    				Nuestros carros móviles ayudarán al operario a trasportar el material pesado o voluminoso de forma segura y ordenada.
	    			</div>
	    			<img alt="Moving Carts" class="imgmuesiete hidden-md hidden-lg" src="fileimages/mobiliaria/ejemplo2.jpg">
	    		</div>
	    		<div class="margtopest col-xs-12 col-md-12 margbotmob">
	    			<div class="col-md-1 col-xs-2 padding fletitu">></div><div id="tit1" class="col-md-11 col-xs-10 padding margesta">Racks de Materiales </div>
	    			<div id="txt1" class="txtestdos col-md-12 col-xs-12 padding">
	    				Ya sean estándar o diseñados a la medida, los racks ayudarán a que el operario tenga un mejor control de sus materiales apegándose a la filosofía de las 5S (materiales ordenados, clasificados e identificados).
	    			</div>
	    			<img alt="Racks de Materiales" class="hidden-md hidden-lg" src="fileimages/mobiliaria/ejemplo1.jpg">
	    		</div>
	    		<div class="margtopest col-xs-12 col-md-12 margbotmob">
	    			<div class="col-md-1 col-xs-2 padding fletitd">></div><div id="tit2" class="col-md-11 col-xs-10 padding margesta">Flow Racks </div>
	    			<div id="txt2" class="txtestdos col-md-12 col-xs-12 padding">
	    				Gracias a los flow racks, sus operadores tendrán a la mano su material de trabajo en el momento y espacio en que lo necesiten, eliminando tiempos muertos y movimientos innecesarios. Este sistema proporciona las soluciones para mantener un orden, control y organización de inventarios, ya que le permite seguir un FIFO (First In Fist Out) y es muy fácil de cargar y descargar material.
	    			</div>
	    			<img alt="Flow Racks" class="imgmuesiete hidden-md hidden-lg" src="fileimages/mobiliaria/ejemplo2.jpg">
	    		</div>
	    	</div>
	    	<div class="col-md-3 hidden-xs margtopimgest">
	    		<img alt="Estaciones de Trabajo" class="hidden-xs" src="fileimages/mobiliaria/ejemplo1.jpg">
	    		<img alt="Moving Carts" class="imgmuesietemob hidden-xs" src="fileimages/mobiliaria/ejemplo2.jpg">
	    	</div>
		</div>
		<div class="col-md-12 col-xs-12 padding">
			<div class="col-md-6 hidden-xs"></div>
			<div class="col-md-6 col-xs-12">
			      <div class="col-md-2 col-xs-offset-0 col-xs-4 col-md-offset-5">
			        <div  class="fb-like" data-href="https://www.facebook.com/leanoutlet/" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
			      </div>
			      <div class="col-md-2 col-xs-4 margredt">
			       <a  class="twitter-follow-button" href="https://www.twitter.com/Lean_Outlet" data-show-count="false" data-show-screen-name="false" data-size="default">Follow</a>
			      </div>
			      <!--<div class="col-md-2 col-xs-4 padding">
			        <div class='g-plusone' data-size='tall' expr:data-href="data:post.url"></div>
			      </div>-->
			</div>
		</div>
		
	</div>
</section>
<div class="container containerpro containerpro1">
	<div class="col-md-12 col-xs-12 padding">
		<div class="col-md-12 col-xs-12 padding txttitesta">
				Estaciones de trabajo disponibles 
		</div>
		<div class="col-md-12 col-xs-12 padding txtproduc">
				6 productos
		</div>
		<div class="col-md-12 col-xs-12 padding ">
				<hr class="hrd">
		</div>
	</div>
	<div id="contproductos" class="col-md-12 col-xs-12 padding espaentreproducts">
			<!--<div class="col-md-4 col-xs-12 margproducto">
				<div class="col-md-6 col-xs-12 paddingres">
					<a href="producto"><img alt="Producto de Mobiliario Lean" class="muochod" src="fileimages/mobiliaria/ejemplotienda2.png"></a>
				</div>
				<div class="col-md-5 col-xs-12 padding mgrtxtproduc">
					<p ><a href="producto" class="titprod">Estructura tubular</a></p>
					<p class="modelprod">PGLP-6</p>
					<p class="margtxtdesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
				</div>
				<div class="col-md-12 col-xs-12 paddtagsha">
					<div class="col-md-10 col-xs-10 padding tagprodu">
						<i class="fa fa-tag" aria-hidden="true"></i> Estructuras tubulares
					</div>
					<div class="col-md-2 col-xs-2 padding text-right">
						<a class="shareprod" href=""><i class="fa fa-share-alt" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="col-md-12 col-xs-12 padding text-center txtprecioest">
					$18 447.79
				</div>
				<div class="col-md-12 col-xs-12 padding margbtnadd">
					{{ Form.create({control:"carrito",function:"guardar"},"frmProducto") }}
					<input name="id_prod" id="id_prod" type="hidden" value="1">
					<input name="email" id="email" type="hidden">
					<input name="nom_prod" id="nom_prod" type="hidden" value="Estructura tubular">
					<input name="mod_prod" id="mod_prod" type="hidden" value="PGLP-6">
					<input name="img_prod" id="img_prod" type="hidden" value="fileimages/mobiliaria/ejemplotienda.png">
					<input name="cant_prod" id="cant_prod" type="hidden" value="1">
					<input name="precio_prod" id="precio_prod" type="hidden" value="18447,79">
					<button  data-toggle="modal" data-target="#myModal" type="" class="btnPComPro btncontt"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Agregar a compras</button>

						<div class="modal fade" id="myModal" role="dialog">
		    		<div class="modal-dialog">
		    		
			     
				      <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <h4 class="modal-title">Lean Outlet</h4>
				        </div>
				        <div class="modal-body">
				          <p>Agregando al Carrito de Compras</p>
				       	</div>
				       <div class="modal-footer">
				         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        </div>
				      </div>
			      
		    		</div>
		  		  </div>
		  				{{Form.End()}}
				</div>
			</div>
			<div class="col-md-4 col-xs-12 margproducto">
				<div class="col-md-6 col-xs-12  paddingres">
					<a href="producto"><img alt="Producto de Materiales para Entrenamiento Lean" class="muochod" src="fileimages/mobiliaria/ejemplotienda.png"></a>
				</div>
				<div class="col-md-5 col-xs-12 padding mgrtxtproduc">
					<p><a href="producto" class="titprod">Estructura tubular</a></p>
					<p class="modelprod">PGLP-6</p>
					<p class="margtxtdesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
				</div>
				<div class="col-md-12 col-xs-12 paddtagsha">
					<div class="col-md-10 col-xs-10 padding tagprodu">
						<i class="fa fa-tag" aria-hidden="true"></i> Estructuras tubulares
					</div>
					<div class="col-md-2 col-xs-2 padding text-right">
						<a class="shareprod" href=""><i class="fa fa-share-alt" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="col-md-12 col-xs-12 padding text-center txtprecioest">
					$18 447.79
				</div>
				<div class="col-md-12 col-xs-12 padding margbtnadd">
					<button data-toggle="modal" data-target="#myModal" type="" class="btnPComPro btncontt"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Agregar a compras</button>
				</div>
			</div>
			<div class="col-md-4 col-xs-12 margproducto">
				<div class="col-md-6 col-xs-12">
					<a href="producto"><img alt="Producto de Materiales para Entrenamiento Lean" class="muochod" src="fileimages/mobiliaria/ejemplotienda2.png"></a>
				</div>
				<div class="col-md-5 col-xs-12 padding mgrtxtproduc">
					<p><a href="producto" class="titprod">Estructura tubular</a></p>
					<p class="modelprod">PGLP-6</p>
					<p class="margtxtdesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
				</div>
				<div class="col-md-12 col-xs-12 paddtagsha">
					<div class="col-md-10 col-xs-10 padding tagprodu">
						<i class="fa fa-tag" aria-hidden="true"></i> Estructuras tubulares
					</div>
					<div class="col-md-2 col-xs-2 padding text-right">
						<a class="shareprod" href=""><i class="fa fa-share-alt" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="col-md-12 col-xs-12 padding text-center txtprecioest">
					$18 447.79
				</div>
				<div class="col-md-12 col-xs-12 padding margbtnadd">
					<button data-toggle="modal" data-target="#myModal" type="" class="btnPComPro btncontt"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Agregar a compras</button>
				</div>
			</div>-->
		</div>
		<!--<div class="col-md-12 col-xs-12 padding margfilaprod">
			<div class="col-md-4 col-xs-12 margproducto">
				<div class="col-md-6 col-xs-12">
					<a href="producto"><img alt="Producto de Materiales para Entrenamiento Lean" class="muochod" src="fileimages/mobiliaria/ejemplotienda.png"></a>
				</div>
				<div class="col-md-5 col-xs-12 padding mgrtxtproduc">
					<p><a href="producto" class="titprod">Estructura tubular</a></p>
					<p class="modelprod">PGLP-6</p>
					<p class="margtxtdesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
				</div>
				<div class="col-md-12 col-xs-12 paddtagsha">
					<div class="col-md-10 col-xs-10 padding tagprodu">
						<i class="fa fa-tag" aria-hidden="true"></i> Estructuras tubulares
					</div>
					<div class="col-md-2 col-xs-2 padding text-right">
						<a class="shareprod" href=""><i class="fa fa-share-alt" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="col-md-12 col-xs-12 padding text-center txtprecioest">
					$18 447.79
				</div>
				<div class="col-md-12 col-xs-12 padding margbtnadd">
					<button data-toggle="modal" data-target="#myModal" type="" class="btnPComPro btncontt"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Agregar a compras</button>
				</div>
			</div>
			<div class="col-md-4 col-xs-12 margproducto">
				<div class="col-md-6 col-xs-12">
					<a href="producto"><img alt="Producto de Materiales para Entrenamiento Lean" class="muochod" src="fileimages/mobiliaria/ejemplotienda2.png"></a>
				</div>
				<div class="col-md-5 col-xs-12 padding mgrtxtproduc">
					<p><a href="producto" class="titprod">Estructura tubular</a></p>
					<p class="modelprod">PGLP-6</p>
					<p class="margtxtdesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
				</div>
				<div class="col-md-12 col-xs-12 paddtagsha">
					<div class="col-md-10 col-xs-10 padding tagprodu">
						<i class="fa fa-tag" aria-hidden="true"></i> Estructuras tubulares
					</div>
					<div class="col-md-2 col-xs-2 padding text-right">
						<a class="shareprod" href=""><i class="fa fa-share-alt" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="col-md-12 col-xs-12 padding text-center txtprecioest">
					$18 447.79
				</div>
				<div class="col-md-12 col-xs-12 padding margbtnadd">
					<button data-toggle="modal" data-target="#myModal" type="" class="btnPComPro btncontt"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Agregar a compras</button>
				</div>
			</div>
			<div class="col-md-4 col-xs-12 margproducto">
				<div class="col-md-6 col-xs-12">
					<a href="producto"><img alt="Producto de Materiales para Entrenamiento Lean" class="muochod" src="fileimages/mobiliaria/ejemplotienda.png"></a>
				</div>
				<div class="col-md-5 col-xs-12 padding  mgrtxtproduc">
					<p><a href="producto" class="titprod">Estructura tubular</a></p>
					<p class="modelprod">PGLP-6</p>
					<p class="margtxtdesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
				</div>
				<div class="col-md-12 col-xs-12 paddtagsha">
					<div class="col-md-10 col-xs-10 padding tagprodu">
						<i class="fa fa-tag" aria-hidden="true"></i> Estructuras tubulares
					</div>
					<div class="col-md-2 col-xs-2 padding text-right">
						<a class="shareprod" href=""><i class="fa fa-share-alt" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="col-md-12 col-xs-12 padding text-center txtprecioest">
					$18 447.79
				</div>
				<div class="col-md-12 col-xs-12 padding margbtnadd">
					<button data-toggle="modal" data-target="#myModal" type="" class="btnPComPro btncontt"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Agregar a compras</button>
				</div>
			</div>
		</div>-->
</div>