<section>
	<div class="container">
		<div class="col-md-12 col-xs-12 padding">
			<div class="col-md-4 col-xs-12 text-center margunsecprod">
				<img id="principal" src="fileimages/producto/mu9.png">
			</div>
			<div class="col-md-4 col-xs-12 hidden-md hidden-lg text-center">
				<img id="p1" class="imgpropeq" src="fileimages/producto/mu10.png">
				<img id="p2" class="imgpropeq" src="fileimages/producto/mu10.png">
				<img id="p3" class="imgpropeq" src="fileimages/producto/mu10.png">
				<img id="p4" class="imgpropeq" src="fileimages/producto/mu10.png">
			</div>
			<div class="col-md-6 col-xs-12 margunsecprod">
				<h2 class="titproduc">Estructura Tubular</h2>
				<div class="titmodproduc">PGLP-6</div>
				<hr class="hrprod">
				<div class="tagproduct padding col-md-12"><i id="tags" class="fa fa-tag" aria-hidden="true"></i></div>
				<div class="margmu11pro"><img src="fileimages/producto/mu11.png"></div>
				<div class="txtproduct">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. </div>
				<div class="precioproduct">$18 447.79</div>
			</div>
			<div class="col-md-2 col-xs-12 margunsecprod text-center">
				<div class="text-center aniosgaranti">2</div>
				<div class="text-center aniosgatant">AÑOS</div>
				<div class="text-center aniosgatantd">GARANTIA</div>
				<div class="margbtnficha"><a  target="_blank" id="fichatec" href=""><button class="btncontcu">Ficha Técnica <i class="fa fa-download" aria-hidden="true"></i></button></a></div>
				<div class="stockproduct">25 en stock</div>
			</div>
		</div>
		<div class="col-md-12 col-xs-12 padding">
			<div class="col-md-4 col-xs-12 hidden-xs text-center">
				<img id="p11"  class="imgpropeq" src="fileimages/producto/mu10.png">
				<img id="p22"  class="imgpropeq" src="fileimages/producto/mu10.png">
				<img id="p33"  class="imgpropeq" src="fileimages/producto/mu10.png">
				<img id="p44"  class="imgpropeq" src="fileimages/producto/mu10.png">
			</div>
			<div id="btnComprar" class="col-md-4 col-xs-12 ">
				
			</div>
			<div class="col-md-4 col-xs-12 margtopproductored">
				<div class="col-md-4 col-xs-4 margtopredprod">
			        <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
			    </div>
			    <div class="col-md-4 col-xs-4 margredtp margtopredesprod">
			        <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a>
			    </div>
			    <div class="col-md-3 col-xs-4 padding margtopredesprod">
			        <div class='g-plusone' data-size='tall' expr:data-href="data:post.url"></div>
			    </div>
			</div>
		</div>
		<div class="col-md-12 col-xs-12 padding">
			<div class="col-md-12 col-xs-12 margesvafa padding">
				<div class="col-md-4 col-xs-12 padding">
					<div id="espe" class="text-center paddesvafa">Especificaciones</div>
				</div>
				<div class="col-md-4 col-xs-12 padding">
					<div id="valor" class="text-center paddesvafa">Valoraciones</div>
				</div>
				<div class="col-md-4 col-xs-12 padding">
					<div id="faqs" class="text-center paddesvafa">FAQS</div>
				</div>
			</div>
		</div>
		<div class="col-md-12 col-xs-12 padding">
			<div class="col-md-12 col-xs-12 padding">
				<div class="col-md-12 col-xs-12 padding">
					<div id="espe1" class="col-md-12  col-xs-12">
						<div class="col-md-12 col-xs-12 padding titdimenpro margleftprudcbox"></div>
						<div class="col-md-12 col-xs-12  linedatosproduc margleftprudcbox">
							<p id="evf1" class="txtgenproduc">
								Weight 9 <br>
								Cable Length: 4.0 m<br>
								Dimenciones l x w x h: 168x220x432<br>
								Electrical values<br>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-12 padding">
				<hr>
					<div id="espe1" class="col-md-12 col-xs-12">
						<div class="col-md-12 col-xs-12 padding linedatosproduc margleftprudcbox">
							<p id="evf2" class="txtgenproduc">
								Nominal current: 16 a <br>
								Type of current: AC 50/60 Hz<br>
								Materials
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-xs-12 padding">
				<hr>
					<div id="espe1" class="col-md-12 col-xs-12">
						<div class="col-md-12 col-xs-12 padding linedatosproduc margleftprudcbox">
							<p id="evf3" class="txtgenproduc">
								Material: Stainless steel <br>
								Mechanical
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-xs-12 padding">
				<hr>
					<div id="espe1" class="col-md-12">
						<div class="col-md-12 padding linedatosproduc margleftprudcbox">
							<p id="evf4" class="txtgenproduc">
								Impact strength: IK 10 <br>
								Certificates <br>
								Standards: EN 61439-1, EN 61439-3 <br>
								Ratings
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-xs-12 padding">
				<hr>
					<div id="espe1" class="col-md-12 col-xs-12">
						<div class="col-md-12 col-xs-12 padding linedatosproduc margleftprudcbox">
							<p id="evf5" class="txtgenproduc">
								Rated voltage: 230 V <br>
								Degree of protection: IP44 <br>
								Short-circuit characteristics
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12 col-xs-12 padding">
			<div class="col-md-12 col-xs-12 padding">
				<h2 class="titprodrel">Productos relacionados</h2>
			</div>
			<div id="productosrel" class="col-md-12 col-xs-12 margboxprodcrel">
				<!--<div class="col-md-4 col-xs-12 padding margboxprodcreld">
					<div class="col-md-5 col-xs-12 padding margproducrel">
						<img src="fileimages/producto/mu12.png">
					</div>
					<div class="col-md-7 col-xs-12 margproducrel">
						<p class="titproducrel">Estructura tubular</p>
						<p class="titmodproducrel">PGLP-6</p>
						<p class="tagproducrel"><i class="fa fa-tag" aria-hidden="true"></i> Estructuras Tubulares</p>
					</div>
				</div>
				<div class="col-md-4 col-xs-12 padding margboxprodcreld">
					<div class="col-md-5 col-xs-12 padding margproducrel">
						<img src="fileimages/producto/mu12.png">
					</div>
					<div class="col-md-7 col-xs-12 margproducrel">
						<p class="titproducrel">Estructura tubular</p>
						<p class="titmodproducrel">PGLP-6</p>
						<p class="tagproducrel"><i class="fa fa-tag" aria-hidden="true"></i> Estructuras Tubulares</p>
					</div>
				</div>
				<div class="col-md-4 col-xs-12 padding margboxprodcreld">
					<div class="col-md-5 col-xs-12 padding margproducrel">
						<img src="fileimages/producto/mu12.png">
					</div>
					<div class="col-md-7 col-xs-12 margproducrel">
						<p class="titproducrel">Estructura tubular</p>
						<p class="titmodproducrel">PGLP-6</p>
						<p class="tagproducrel"><i class="fa fa-tag" aria-hidden="true"></i> Estructuras Tubulares</p>
					</div>
				</div>-->
			</div>
		</div>
	</div>
</section>