<section class="container slidegrand">
  <div class="col-md-12 col-xs-12 margbotbannart imgbannerart padding" title="Artículo">
    <!--<img class="widhtartban" src="fileimages/articulo/bannera.jpg">-->
  </div>
</section>
<div class="container regstop">
   <div class="container">
   		<div class="col-md-12 marginicios">
   		<div class="col-md-5 col-md-offset-4 col-xs-12 col-xs-offset-0">
	    <div class="signup-form-container">
	    
	         <!-- form start -->
	         {{ Form.create({control:"inicio",function:"recuperar"},"frmRecuperar") }}
	         <div class="form-header">
	         <h3 class="form-title"><i class="fa fa-user"></i> Ingrese su Email</h3>
	                      
	         
	                      
	         </div>
	         
	         <div class="form-body">
	         
	              <div class="form-group col-md-12 col-lg-12 padding">
	                   <div class="input-group col-md-12 padding">
	                   <!--<div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></div>-->
	                   <div style="">Email:</div>
	                   <input name="email" id="email" type="email" class="form-control" placeholder="Email" required>
	                  <!-- {{ Form.Input("email",{"label":{"text":"Correo electrónico: ", "class":"control-label"}, "class":"form-control", "type":"email"}) }}-->
	                   </div> 
	                   <span class="help-block" id="error"></span>                     
	              </div>
	                                     
	        </div>
	            
	            <div class="form-footer">
	            	<div class="col-xs-12 col-md-6 padding">
	                 <button type="submit" class="btn btn--ys btn--xl">
	                 <i class="fa fa-sign-in"></i> Enviar
	                 </button>
	                 </div>
	                 <div class="col-xs-12 col-md-6 padding">
	                 <div class="col-md-12 col-xs-12 padding">¿No estas registrado?<a href="registro"> ¡Regístrate Aquí!</a></div>
	                 </div>
	                 
	            </div>
	            <div class="col-md-12 col-xs-12 text-center margolvi"><a class="aolvidaste" href="inicio_sesion">Regresar</a></div>

	             {{Form.End()}}
	            
	           </div>
	        </div>
	    </div>
 	</div>
</div>