<section>
  <div class="container slidegrand">
      <div class="col-md-12 padding marsecdoscontact">
        <div class="col-md-5 col-md-offset-4">
          {{ Form.create({control:"inicio",function:"guardar"},"frmRegistro") }}
            <div class="form-group">
              <div class="col-md-12">
                <label class="labelcontact" for="nombre">Nombre:</label>
                <input type="text" name="nombre" class="form-control1" id="nombre" aria-describedby="nombreHelp" placeholder="" required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <label class="labelcontact" for="apellido">Apellido:</label>
                <input type="text" name="apellido" class="form-control1" id="apellido" aria-describedby="apellidoHelp" placeholder="" required>
              </div>
             </div>
             <div class="form-group">
              <div class="col-md-12">
                <label class="labelcontact" for="telefono">Teléfono:</label>
                <input type="tel" name="tel" class="form-control1" id="tel" aria-describedby="telefonoHelp" placeholder="" required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <label class="labelcontact" for="pais">Email:</label>
                 <input type="email" name="email" class="form-control1" id="email" aria-describedby="telefonoHelp" placeholder="" required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <label class="labelcontact" for="pais">Password:</label>
                 <input type="password" name="contrasena" class="form-control1" id="contrasena" aria-describedby="telefonoHelp" placeholder="" required>
              </div>
            </div>
            <!--<div class="col-md-12">
                <label class="labelcontact" for="nombre">Dirección:</label>
                <input type="text" class="form-control1" id="nombre" aria-describedby="nombreHelp" placeholder="" required>
            </div>
            <div class="col-md-12">
                <label class="labelcontact" for="nombre">Dirección:</label>
                <input type="text" class="form-control1" id="nombre" aria-describedby="nombreHelp" placeholder="" required>
            </div>
            <div class="form-check">
                <div class="col-md-12 labelcontactpolit">
                  <div class="col-md-6 padding">
                  Todos los campos son Olbigatorios
                  </div>
                  <div class="col-md-6 martoppoli martoppoli padding">
                    <input type="checkbox" class="form-check-input">
                    He leído y acepto <a href="" class="hiperpolicolor">política de privacidad</a>
                  </div>
                </div>
            </div>-->
            <div class="col-md-12 padenvcontbot">
            <button type="submit" class="enviarcont">Enviar</button>
            </div>
          {{ Form.End() }}
        </div>
      </div>
  </div>
</section>